<h2>Dashboard</h2>
<div ng-if="isAdmin" style="text-align: center">
	<button class="btn btn-primary" ng-click="goToAddNewProjectPage()">Add New Project</button>
	<button class="btn btn-primary" ng-click="goToAllProjectsPage()">View All Projects</button>
	<br/>
</div>
<uib-tabset active="0" justified="false">
	<uib-tab index="0" heading="Issues Assigned To You">
		<table class="table table-striped border-except-top">
			<thead>
			<tr class="table-first-row">
				<td>Status</td>
				<td>Issue Id</td>
				<td>Issue Title</td>
				<td>Project ID</td>
				<td>Project Name</td>
				<td>Due Date</td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="assignedIssue in assignedIssues" ng-click="goToIssue(assignedIssue.Id)">
				<td>{{assignedIssue.Status.Name}}</td>
				<td>{{assignedIssue.Id}}</td>
				<td>{{assignedIssue.Title}}</td>
				<td>{{assignedIssue.Project.Id}}</td>
				<td>{{assignedIssue.Project.Name}}</td>
				<td>{{assignedIssue.DueDate | date:'dd.MM.yyyy'}}</td>
			</tr>
			</tbody>
		</table>
		<uib-pagination total-items="assignedIssuesTotalCount" ng-model="pageParams1.startPage"
						max-size="maxSize" class="pagination-sm"
						boundary-links="true" rotate="false" items-per-page="itemsPerPage"
						ng-change="getCurrentUserIssues(pageParams1.startPage)"
						ng-if="assignedIssuesTotalCount > itemsPerPage">
		</uib-pagination>
		{{}}
	</uib-tab>
</uib-tabset>
<br>
<h3>Associated Projects</h3>
<uib-tabset active="0" justified="false">
	<uib-tab index="0" heading="Projects You Lead">
		<table class="table table-striped border-except-top">
			<thead>
			<tr class="table-first-row">
				<td>Project Name</td>
				<td>Project Id</td>
				<td>Lead By</td>
				<td>Project Key</td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="project in currentUserLeadProjects"
				ng-click="goToProject(project.Id)">
				<td>{{project.Name}}</td>
				<td>{{project.Id}}</td>
				<td>{{project.Lead.Username}}</td>
				<td>{{project.ProjectKey}}</td>
			</tr>
			</tbody>
		</table>
		<uib-pagination total-items="currentUserLeadProjectsTotalCount" ng-model="pageParams2.startPage"
						max-size="maxSize" class="pagination-sm"
						boundary-links="true" rotate="false" items-per-page="itemsPerPage"
						ng-change="getProjectsLed(pageParams2.startPage)"
						ng-if="currentUserLeadProjectsTotalCount > itemsPerPage">
		</uib-pagination>
	</uib-tab>
	<uib-tab index="1" heading="Projects with Assigned Issues">
		<table class="table table-striped border-except-top">
			<thead>
			<tr class="table-first-row">
				<td>Project Name</td>
				<td>Project Id</td>
				<td>Lead By</td>
				<td>Project Key</td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="project in projectsWithAssignedIssues"
				ng-click="goToProject(project.Id)">
				<td>{{project.Name}}</td>
				<td>{{project.Id}}</td>
				<td>{{project.Lead.Username}}</td>
				<td>{{project.ProjectKey}}</td>
			</tr>
			</tbody>
		</table>
	</uib-tab>
</uib-tabset>